a.sm2_link {
 display:inline-block;
 padding-left:22px;
 min-height:16px;
 vertical-align:middle;
 background-color:none;
 padding:3px 8px 3px 25px;
 width:100%;
 text-decoration:none;
 overflow:hidden;
 white-space:nowrap;
 text-overflow:ellipsis;
}

a.sm2_link, a.sm2_paused:hover,
a.sm2_link:hover {
 background-image:url(/assets/extensions/zerosonesfun-sm2/play.png);
 background-position:3px 50%;
 background-repeat:no-repeat;
}

a.sm2_paused:hover {
 background:url(/assets/extensions/zerosonesfun-sm2/play.png) no-repeat 3px 50%;
}

a.sm2_playing,
a.sm2_playing:hover {
 background:url(/assets/extensions/zerosonesfun-sm2/pause.png) no-repeat 3px 50%;
 text-decoration:none;
}
